iframe {
    padding:0px;
    margin:0 auto;
    width:100%;
    height:100%
}

._3i0k6___Layout__cls1 {
    overflow: hidden!important;
    margin-bottom: 0px!important
}

._2LpwQ___Wrapper__cls1 {
    overflow: hidden!important;
    margin-bottom: 0px!important
}
._1cMla___Wrapper__media-tablet-up {
    overflow: hidden!important;
    margin-bottom: 0px!important
}

a:visited {
    text-decoration: none;
}

#blackbutton {
    color: white!important;
    text-decoration: none!important;
}

#blackbutton:hover {
    color: white!important;
    text-decoration: none!important;
}

#blackbutton:visited {
    color: white!important;
    text-decoration: none!important;
}

#footerlink {
    color: black!important;
    text-decoration: none!important;
}

#footerlink:hover {
    color: black!important;
    text-decoration: none!important;
}

#footerlink:visited {
    color: black !important;
    text-decoration: none !important;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
